body {
    all: unset;
    background-color: rgb(147, 164, 168);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #000000;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #900;
}
#content{

    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: rgba(0, 0, 0,0.6);
    border-radius: 1rem;
    padding: 6rem 5rem;


}

